In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statistics import median
from sklearn.linear_model import LogisticRegression as LR
from sklearn.linear_model import LinearRegression as le
import sklearn as sk
from sklearn.linear_model import SGDClassifier as classifier

In [16]:
data= pd.read_csv(r"/Users/namanparuthi/Downloads/smoking_driking_dataset_Ver01.csv")

In [17]:
data.describe()

,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
count,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,...,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000
mean,47.614491,162.240625,63.284050,81.233358,0.980834,0.978429,1.031495,1.030476,122.432498,76.052627,...,56.936800,113.037692,132.141751,14.229824,1.094224,0.860467,25.989308,25.755051,37.136347,1.608122
std,14.181339,9.282957,12.514241,11.850323,0.605949,0.604774,0.174650,0.171892,14.543148,9.889365,...,17.238479,35.842812,102.196985,1.584929,0.437724,0.480530,23.493386,26.308599,50.424153,0.818507
min,20.000000,130.000000,25.000000,8.000000,0.100000,0.100000,1.000000,1.000000,67.000000,32.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.100000,1.000000,1.000000,1.000000,1.000000
25%,35.000000,155.000000,55.000000,74.100000,0.700000,0.700000,1.000000,1.000000,112.000000,70.000000,...,46.000000,89.000000,73.000000,13.200000,1.000000,0.700000,19.000000,15.000000,16.000000,1.000000
50%,45.000000,160.000000,60.000000,81.000000,1.000000,1.000000,1.000000,1.000000,120.000000,76.000000,...,55.000000,111.000000,106.000000,14.300000,1.000000,0.800000,23.000000,20.000000,23.000000,1.000000
75%,60.000000,170.000000,70.000000,87.800000,1.200000,1.200000,1.000000,1.000000,131.000000,82.000000,...,66.000000,135.000000,159.000000,15.400000,1.000000,1.000000,28.000000,29.000000,39.000000,2.000000
max,85.000000,190.000000,140.000000,999.000000,9.900000,9.900000,2.000000,2.000000,273.000000,185.000000,...,8110.000000,5119.000000,9490.000000,25.000000,6.000000,98.000000,9999.000000,7210.000000,999.000000,3.000000

In [18]:
from sklearn.preprocessing import LabelEncoder

la=LabelEncoder()

data['DRK_YN'] = la.fit_transform(data['DRK_YN'])

In [19]:
data['DRK_YN'].value_counts()

DRK_YN
0    495858
1    495488
Name: count, dtype: int64

In [20]:
data.drop(['sex','height','sight_left','sight_right','hear_left','hear_right','SBP','DBP','urine_protein','serum_creatinine','SMK_stat_type_cd'], inplace=True, axis=1)

In [21]:
data.groupby('DRK_YN').mean()

,age,weight,waistline,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,SGOT_AST,SGOT_ALT,gamma_GTP
DRK_YN,,,,,,,,,,,,
0,51.648809,59.977998,80.131769,100.068826,194.794921,56.204200,114.603191,121.476582,13.755567,25.064444,24.100658,26.798521
1,43.577160,66.592571,82.335770,100.780334,196.319689,57.669948,111.471025,142.814884,14.704434,26.914864,27.410680,47.481893

In [22]:
y= data.loc[:,"DRK_YN"]
x=data.loc[:, ('triglyceride', 'gamma_GTP','age','weight','waistline','tot_chole','SGOT_AST','SGOT_ALT')]

In [23]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0,shuffle=True)

In [24]:
model=LR(solver='newton-cg',multi_class='multinomial')
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/scipy/optimize/_linesearch.py:425: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/scipy/optimize/_linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/optimize.py:204: UserWarning: Line Search failed
  warnings.warn("Line Search failed")

In [25]:
y_pred

array([0, 0, 1, ..., 0, 0, 0])

In [26]:
from sklearn.metrics import mean_squared_error

In [28]:
accuracy=sk.metrics.accuracy_score(y_test, y_pred)
accuracy*100

68.86619256569325