In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.linear_model import SGDClassifier as classifier

In [76]:
data= pd.read_csv(r"/Users/namanparuthi/Downloads/smoking_driking_dataset_Ver01.csv")

In [77]:
data.describe()

,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
count,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,...,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000
mean,47.614491,162.240625,63.284050,81.233358,0.980834,0.978429,1.031495,1.030476,122.432498,76.052627,...,56.936800,113.037692,132.141751,14.229824,1.094224,0.860467,25.989308,25.755051,37.136347,1.608122
std,14.181339,9.282957,12.514241,11.850323,0.605949,0.604774,0.174650,0.171892,14.543148,9.889365,...,17.238479,35.842812,102.196985,1.584929,0.437724,0.480530,23.493386,26.308599,50.424153,0.818507
min,20.000000,130.000000,25.000000,8.000000,0.100000,0.100000,1.000000,1.000000,67.000000,32.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.100000,1.000000,1.000000,1.000000,1.000000
25%,35.000000,155.000000,55.000000,74.100000,0.700000,0.700000,1.000000,1.000000,112.000000,70.000000,...,46.000000,89.000000,73.000000,13.200000,1.000000,0.700000,19.000000,15.000000,16.000000,1.000000
50%,45.000000,160.000000,60.000000,81.000000,1.000000,1.000000,1.000000,1.000000,120.000000,76.000000,...,55.000000,111.000000,106.000000,14.300000,1.000000,0.800000,23.000000,20.000000,23.000000,1.000000
75%,60.000000,170.000000,70.000000,87.800000,1.200000,1.200000,1.000000,1.000000,131.000000,82.000000,...,66.000000,135.000000,159.000000,15.400000,1.000000,1.000000,28.000000,29.000000,39.000000,2.000000
max,85.000000,190.000000,140.000000,999.000000,9.900000,9.900000,2.000000,2.000000,273.000000,185.000000,...,8110.000000,5119.000000,9490.000000,25.000000,6.000000,98.000000,9999.000000,7210.000000,999.000000,3.000000

In [78]:
data['SMK_stat_type_cd'].value_counts()

SMK_stat_type_cd
1    602441
3    213954
2    174951
Name: count, dtype: int64

In [79]:
data.drop(['sex','DRK_YN','height', 'sight_left', 'sight_right', 'hear_left', 'hear_right', 'urine_protein'], inplace=True, axis=1)

In [80]:
data.groupby('SMK_stat_type_cd').mean()

,age,weight,waistline,SBP,DBP,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP
SMK_stat_type_cd,,,,,,,,,,,,,,,
1,48.455401,59.306272,79.001125,121.177911,74.916407,98.471651,195.336906,59.258090,113.364130,115.055730,13.638717,0.803322,24.680925,22.813524,27.426485
2,50.112632,69.406891,85.312877,125.345011,78.059588,104.173711,194.951243,53.824900,112.836686,147.418752,14.967969,0.965003,28.196804,29.959320,47.043515
3,43.203960,69.477808,84.182930,123.583527,77.610842,102.857245,196.672154,52.945241,112.282888,167.759654,15.290647,0.935891,27.868313,30.599811,56.375763

In [81]:
y= data.loc[:,"SMK_stat_type_cd"]
x=data.loc[:, ('age', 'weight', 'waistline','SBP', 'DBP','BLDS','tot_chole','HDL_chole','LDL_chole','triglyceride','hemoglobin','serum_creatinine','gamma_GTP')]

In [82]:
x

,age,weight,waistline,SBP,DBP,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,serum_creatinine,gamma_GTP
0,35,75,90.0,120,80,99,193,48,126,92,17.1,1.0,40
1,30,80,89.0,130,82,106,228,55,148,121,15.8,0.9,27
2,40,75,91.0,120,70,98,136,41,74,104,15.8,0.9,68
3,50,80,91.0,145,87,95,201,76,104,106,17.6,1.1,18
4,50,60,80.0,138,82,101,199,61,117,104,13.8,0.8,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,45,80,92.1,114,80,88,198,46,125,132,15.0,1.0,27
991342,35,75,86.0,119,83,83,133,40,84,45,15.8,1.1,15
991343,40,50,68.0,110,70,90,205,96,77,157,14.3,0.8,17
991344,25,60,72.0,119,74,69,122,38,73,53,14.5,0.8,17
991345,50,70,90.5,133,79,99,225,39,153,163,15.8,0.9,36

In [83]:
#normalising X 

import scipy
X=scipy.stats.zscore(x)

In [84]:
print(X)

             age    weight  waistline       SBP       DBP      BLDS  \
0      -0.889514  0.936210   0.739781 -0.167261  0.399153 -0.058910
1      -1.242090  1.335755   0.655395  0.520349  0.601391  0.230586
2      -0.536938  0.936210   0.824167 -0.167261 -0.612034 -0.100267
3       0.168215  1.335755   0.824167  1.551763  1.106985 -0.224337
4       0.168215 -0.262425  -0.104078  1.070436  0.601391  0.023803
...          ...       ...        ...       ...       ...       ...
991341 -0.184361  1.335755   0.916992 -0.579826  0.399153 -0.513833
991342 -0.889514  0.936210   0.402238 -0.236022  0.702510 -0.720616
991343 -0.536938 -1.061515  -1.116709 -0.854870 -0.612034 -0.431120
991344 -1.594666 -0.262425  -0.779165 -0.236022 -0.207559 -1.299608
991345  0.168215  0.536665   0.781974  0.726631  0.298035 -0.058910

        tot_chole  HDL_chole  LDL_chole  triglyceride  hemoglobin  \
0       -0.066141  -0.518422   0.361643     -0.392788    1.810919
1        0.839184  -0.112353   0.975435     -0.109022    0.990693
2       -1.540528  -0.924490  -1.089136     -0.275368    0.990693
3        0.140790   1.105852  -0.252148     -0.255798    2.126391
4        0.089058   0.235705   0.110547     -0.275368   -0.271194
...           ...        ...        ...           ...         ...
991341   0.063191  -0.634441   0.333744     -0.001387    0.485938
991342  -1.618127  -0.982500  -0.810140     -0.852685    0.990693
991343   0.244256   2.266048  -1.005438      0.243239    0.044277
991344  -1.902658  -1.098520  -1.117036     -0.774404    0.170466
991345   0.761585  -1.040510   1.114933      0.301949    0.990693

        serum_creatinine  gamma_GTP
0               0.290374   0.056791
1               0.082270  -0.201022
2               0.082270   0.612081
3               0.498477  -0.379508
4              -0.125833  -0.240685
...                  ...        ...
991341          0.290374  -0.201022
991342          0.498477  -0.439003
991343         -0.125833  -0.399340
991344         -0.125833  -0.399340
991345          0.082270  -0.022536

[991346 rows x 13 columns]

In [85]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0,shuffle=True)

In [86]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((793076, 13), (793076,), (198270, 13), (198270,))

In [87]:
classifier=classifier()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

In [88]:
y_pred

array([1, 1, 1, ..., 1, 1, 2])

In [89]:
accuracy=sk.metrics.accuracy_score(y_test, y_pred)
accuracy*100

62.701366823019114